/* APP & CHART WRAPPER */
#app {
	margin: 0 auto;
	max-width: 750px;
}
.graphic-container {
	display: flex;
	margin: 0 auto;
}
.graphic-container .flourish-chart,
.graphic-container > iframe {
	flex: 1;
	max-width: 50%;
}
.graphic-container .flourish-chart:nth-of-type(1) {
	margin-right: 0.5rem;
}






@media only screen and (min-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    .graphic-container {
    	/*display: flex;*/
    	/*justify-content: space-between;*/
    }
}
