/* POSTMEDIA STYLES */
#app h1 {
	color: var(--black);
	font-family: Shift-BoldItalic, serif;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}
#app h2 {
	color: var(--black);
	font-family: BentonSansCond-Bold, sans-serif;
	margin: 1px 0;
}
#app h3 {
	color: var(--black);
	font-family: BentonSansCond-Bold, sans-serif;
}
#app h4 {
	color: var(--black);
	font-family: BentonSansCond-Regular, sans-serif;
	font-size: 0.8rem;
}

#app p {
	color: var(--black);
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	line-height: 1.3rem;
	margin: 0;
}

#app footer {
	display: flex;
	flex-wrap: wrap;
}

#app footer > p {
	flex: 1;
}
#app footer .note {
	color: var(--grey02);
	flex: 0 0 100%;
	font-family: BentonSansCond-RegItalic, italic;
}

#app footer > div {
	margin-top: 0 !important;
}

#app .note,
#app .source,
#app .credit {
	font-size: 0.8rem;
}

#app .credit {
	text-align: right;
}

#app .source a {
	color: inherit;
}

@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
    #app h1 {
    	font-size: 2rem;
    }
}
